{% extends 'home.html'%}
{% block body%}
{%load static%}

	{%if user.is_authenticated%}
	<table align="center">
		<tr>
		<td>
		<div>
		<center><h2 color="red">enter single person value</h2></center>
		<center>
			<form action="single_upload" method="POST">
				{% csrf_token %}
				<center>course_name:<input type="text" class="mani" placeholder="course_name" name="course_name"></center>
				<center>course_id:<input type="text" class="mani" placeholder="course_id" name="course_id"></center>
				<center>attempted_id:<input type="text" class="mani" placeholder="attempted_id" name="attempted_id"></center>
				<center>cand_RollNo:<input type="text" class="mani" placeholder="cand_name" name="cand_name"></center>
				<center>cand_email:<input type="email" class="mani" placeholder="cand_email" name="cand_email"></center>
				<center>marks:<input type="text" class="mani" placeholder="marks" name="marks"></center>
				<center>grade:<input type="text" class="mani" placeholder="grade" name="grade"></center>
				
				<center><input type="submit" name="ghj"></center>
			</form>
		</center>
		</div>
		</td>
		<td>
		<div>
		<center><h2 color="red">OR upload a file of Format</h2></center>

		<center><h3 color="blue">course_name,course_id,attempted_id,cand_name,cand_email,marks,grade</h3></center>
		<div>	
		<center><form action="retrieve" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		Select a file:<br><br>
		<input type="file" id="myfile" name="myfile"><br><br>
		<input type="submit">
		</form></center>
		</div>
		</td>
		</tr>
		<br><br>
	</table>
	<center><h2 color="red">search of person analysis</h2></center>
	<div>
	<form action="search" method="post">
		{% csrf_token %}
		<center>
		<input type="text" placeholder="name" class="mani" name="name"><br>
		<input type="submit">
		</center>
	</form>
	</div>
	<center><div>
		{%if show %}
			<h3 color="green">details of {{name}}</h3>
		{%endif%}
			<table>
				<th>
					<td color="orange">course_name</td>
					<td color="orange">course_id</td>
					<td color="orange">attempted_id</td>
					<td color="orange">cand_RollNo</td>
					<td color="orange">cand_email</td>
					<td color="orange">marks</td>
					<td color="orange">grade</td>
				</th>
				{% if show %}
					{% for i in details %}
						{% if i.cand_name == name%}
						<tr>
							<td></td>
							<td>{{i.course_name}}</td>
							<td>{{i.course_id}}</td>
							<td>{{i.attempted_id}}</td>
							<td>{{i.cand_name}}</td>
							<td>{{i.cand_email}}</td>
							<td>{{i.marks}}</td>
							<td>{{i.grade}}</td>
						</tr>
						{% endif %}
					{%endfor%}
				</table>
					<h3 color="green">analysis of {{name}}</h3>
					<table>
						<th>
							<td color="orange">subject</td>
							<td color="orange">status</td>
						</th>
						
						{%for i,j in res.items%}
						<tr>
							<td></td>
							<td>{{i}}</td>
							<td>{{j}}</td>
						</tr>
						{%endfor%}
						
					</table>
				{%else%}
						<p>not searched yet</p>
				{%endif%}

			
	</div></center>

	<div>
        {%for m in messages%}
            <h3>{{m}}</h3>
        {%endfor%}
    </div>

	 {%else%}

	<center><h3 color="blue">Lets do tym pass till you login</h3></center>
	<center><h4>let us add two numbers</h4></center>
	<center><form action="add" method="post">
		{% csrf_token %}
		1st numb:<input type="text" name="num1"><br>
		2st numb:<input type="text" name="num2"><br>
		<input type="submit">
	</form></center>
	{%endif%}
{% endblock%}

