{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compactible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>ID Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script>function generateId()
        {
            document.getElementById('nameT').innerHTML = document.getElementById('nameField').value;
            document.getElementById('regT').innerHTML = document.getElementById('regField').value;
            document.getElementById('contactT').innerHTML = document.getElementById('contactField').value;
            document.getElementById('addressT').innerHTML = document.getElementById('addressField').value;
            document.getElementById('yearT').innerHTML = document.getElementById('yearField').value;
            document.getElementById('yearT1').innerHTML = parseInt(document.getElementById('yearField').value)+4;
            document.getElementById('branchT').innerHTML = document.getElementById('branchField').value;
            let file = document.getElementById('imgField').files[0];
            console.log(file);
            let reader = new FileReader();
            reader.readAsDataURL(file);
            console.log(reader.result);
            reader.onloadend = function(){
                document.getElementById('imgTemplate').src = reader.result;
            };
            var name = document.getElementById('nameField').value;
            var reg = document.getElementById('regField').value;
            var contact = document.getElementById('contactField').value;
            var year = document.getElementById('yearField').value;
            var branch = document.getElementById('branchField').value;
        
            var qrcode = new QRCode(document.getElementById("qrcode-2"), {
            text: "Name: "+name+"reg: "+reg+"contact:"+contact,
            width: 128,
            height: 128,
            colorDark : "#5868bf",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
            var qrcode = new QRCode(document.getElementById("qrcode-1"), {
            text: "Name: "+name+"reg: "+reg+"contact:"+contact,
            width: 128,
            height: 128,
            colorDark : "#5868bf",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
        } 
        </script> 
    <!-- <link rel="stylesheet" href="print.css" media="print"> -->
</head>
<body>
    <!-- first start -->
        </script> 
    <div class="container" id="id-form">
        <h1 class="text-center my-2">ID Generator</h1>
        <div class="row">
            <center>
            <div class="col-md-6">
                <h3>Personal Information</h3>
                <div class="form-group">
                    <label for="nameField">Your Name</label>
                    <input type="text" id="nameField" placeholder="Enter here" class="form-control"/>
                </div>
                <div class="form-group mt-2">
                    <label for="regField">Registration Number</label>
                    <input type="text" id="regField" placeholder="Enter here" class="form-control"/>
                </div>
                <div class="form-group mt-2">
                    <label for="contactField">Your Contact</label>
                    <input type="text" id="contactField" placeholder="Enter here" class="form-control"/>
                </div>
                <div class="form-group mt-2">
                    <label for="conField">Your Address</label>
                    <textarea id="addressField" placeholder="Enter here" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group mt-3">
                    <label for="">Select Your Profile Picture</label>
                    <input id="imgField" type="file" class="form-control">
                </div>
                <div class="form-group mt-3" >
                    <label for="yearField">Year of Join: </label><br>
                    <select name="year" id="yearField" class="form-control">
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                        <option>2005</option>
                        <option>2006</option>
                        <option>2007</option>
                        <option>2008</option>
                        <option>2009</option>
                        <option>2010</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                        <option>2026</option>
                        <option>2027</option>
                        <option>2028</option>
                        <option>2029</option>
                        <option>2030</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <label for="branchField">Branch: </label><br>
                    <select name="branch" id="branchField" class="form-control" >
                        <option>CSE</option>
                        <option>IT</option>
                        <option>ECE</option>
                        <option>AIML</option>
                        <option>EEE</option>
                        <option>MECH</option>
                        <option>CIVIL</option>
                    </select>
                </div>
            </div>
            </center>
            <div class="container text-center mt-3">
                <button class="btn btn-primary btn-lg" onclick="generateId();">Generate ID</button>
            </div>
        </div>
    </div>


    <div class="container" id="id-template">
        <div class="row ">
            <div class="col-md-6 text-center py-5 background border border-dark ">
                <h1 style="color: red;">VARDHAMAN</h1>
                <h3 style="color:red;">COLLEGE OF ENGINEERING</h3>
                <p>(AUTONOMOUS)</p>
               <p>Shamshabad,Hyderabad - 501218</p>
                <img 
                    src="https://st.depositphotos.com/2101611/3925/v/600/depositphotos_39258143-stock-illustration-businessman-avatar-profile-picture.jpg" 
                    alt="" 
                    class="img-fluid myimg rounded"
                    id="imgTemplate"
                />
                <div class="container-fluid">
                    <div class="text-center">
                        <div id="qrcode-1"></div>
                    </div>
                </div>
                <div class="container">
                    <br>
                    <p id="nameT">Jane Doe</p>
                    <p id="regT">20881A05A5</p>
                    <p id="yearT">2022 -</p><p id="yearT1">2026</p>&nbsp;&nbsp;
                    <br>
                    <h1 id="branchT">CSE</h1>
                </div>
            </div>
            <div class="col-md-6 text-center py-5 mt-2 background border border-dark">
                Contact Number: <p id="contactT">9137013992</p>
                Address:
                <p id="addressT">lahsnfilashlkas</p>
                <div class="container-fluid">
                    <div class="text-center">
                        <div id="qrcode-2"></div>
                    </div>
                </div> 
                <br>
                <p>S.RAVI CHANDRA(CIP):9490617213</p>   
                <p>PATROL MOBILE:9490617365</p>
                <P>P.S SHAMSHABAD:08413-222033</P>
                <h1 style="color: rgb(0, 0, 0);">VARDHAMAN</h1>
                <h3 style="color:rgb(0, 0, 0);">COLLEGE OF ENGINEERING</h3>
                <p>(AUTONOMOUS)</p>
               <p>Shamshabad,Hyderabad - 501218</p>
               <p>Phone: 08413-253335, 253201, Fax: 08413-253482</p>
               <p>WEB:www.vardhaman.org E-Mail: info@vardhaman.org</p>
            </div>
    </div>
</body>