{%extends 'home.html' %}

{%block body%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Settings</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="theme">Change theme</label>
                <label class="switch">
                    <input type="checkbox" id="switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>
{%endblock%}