{%extends 'home.html'%}

{%block body%}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a style="text-decoration: none;" href="single_search_person"><button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Single Student Search </button></a>
    </li>
    <li class="nav-item" role="presentation">
      <a style="text-decoration: none;" href="entire_search_person"><button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Course Based Search</button></a>
    </li>
    <li class="nav-item" role="presentation">
        <a style="text-decoration: none;" href="todo_list"><button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Todo list</button></a>
      </li>
  </ul>
<center>
<div style="padding: 20px;">
    
    <div class="form">
        <center>
            <h2 color="red">search of person analysis</h2>
        </center>
        <form action="single_search_person" method="post">
            {% csrf_token %}
            <center>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Roll no" name="name">
                    <label for="floatingInput">Roll no</label>
                  </div>
                  <center><button type="submit" class="btn btn-primary">submit</button></center>
            </center>
        </form>
    </div>
    <div>
        {%if show %}
        <h3 color="green">details of {{name}}</h3>
        <table>
            <th>
            <td color="orange">course_name</td>
            <td color="orange">course_id</td>
            <td color="orange">attempted_id</td>
            <td color="orange">cand_RollNo</td>
            <td color="orange">cand_email</td>
            <td color="orange">marks</td>
            <td color="orange">grade</td>
            </th>
            {% if show %}
            {% for i in details %}
            {% if i.cand_name == name%}
            <tr>
                <td></td>
                <td>{{i.course_name}}</td>
                <td>{{i.course_id}}</td>
                <td>{{i.attempted_id}}</td>
                <td>{{i.cand_name}}</td>
                <td>{{i.cand_email}}</td>
                <td>{{i.marks}}</td>
                <td>{{i.grade}}</td>
            </tr>
            {% endif %}
            {%endfor%}
            {%endif%}
        </table>
        <div>
            <h3 color="green">analysis of {{name}}</h3>
            <table>
                <th>
                <td color="orange">subject</td>
                <td color="orange">status</td>
                </th>

                {%for i,j in res.items%}
                <tr>
                    <td></td>
                    <td>{{i}}</td>
                    <td>{{j}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
        {%endif%}
    </div>
</div>
</center>
<div>
	{%for m in messages%}
	<h3>{{m}}</h3>
	{%endfor%}
</div>
{%endblock%}
